<div class="footer">
    <hr class="hr--left">
    <div class="footer--text">Designed and developed <br>
        by Pascu Ioan-Theodor <br>
        Copyright&#xa9; 2022<br>
        <a href="https://www.facebook.com/PascuTheodor" target="_blank"><i class="fa fa-facebook"
                aria-hidden="true"></i></a>
        <a href="https://github.com/TheodorPascu" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
    <hr class="hr--right">
</div>

<style>
    .footer {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        margin-bottom: 30px;
        ;
    }

    .footer--text {
        width: 20%;
        font-size: 15px;
        text-align: center;
    }

    .hr--left,
    .hr--right {
        width: 40%;
        height: 1px;
        margin-top: 35px;
    }

    a {
        color: black;
    }
</style>