<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css style -->
    <link rel="stylesheet" href="/indexStyle.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookify</title>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar">
        <ul>
            <a href="#">
                <li class="nav--title">BOOKIFY</li>
            </a>
            <a href="/login">
                <li class="nav--login"><button>Login</button></li>
            </a>
            <li class="nav--small">Contact</li>
            <li class="nav--small">About</li>
        </ul>
    </div>

    <div class="banner">
        <div class="banner--content">
            <div class="text--content">
                <ul>
                    <li class="big--text">YOUR COMPLETE LIBRARY OF BOOKS</li>
                    <li class="small--text">Find books added to the library by our experienced teachers and see their notes on each book.</li>
                    <li><a href="/register"><button>Create your free account</button></a></li>
                </ul>
            </div>
            <div class="illustration">
                <img src="/banner.png">
            </div>
        </div>
    </div>

    <div class="about">
        <div class="about--title">Why is bookify useful?</div>
        <div class="about--content">
            <div class="component">
                <div class="component--color"></div>
                <div class="component--title">Quality books</div>
                <div class="component--text">All our books are added by our experienced teachers
                </div>
            </div>

            <div class="component">
                <div class="component--color"></div>
                <div class="component--title">See teacher's notes</div>
                <div class="component--text">In order to gain better knowledge from your lecture, you can also see teacher's notes on each book.
                </div>
            </div>

            <div class="component">
                <div class="component--color"></div>
                <div class="component--title">Ease of use</div>
                <div class="component--text">Friendly interface for the users and for the teachers.</div>
            </div>
        </div>
    </div>

    <div class="contact">
        <div class="contact--title">Contact</div>
        <div class="contact--clip"></div>
        <div class="contact--flex">
            <div class="contact--text">Pascu Ioan-Theodor<br>
                pascutheodor22@yahoo.com <br>
                <a href="https://www.facebook.com/PascuTheodor" target="_blank"><i class="fa fa-facebook"
                        aria-hidden="true"></i></a>
                <a href="https://github.com/TheodorPascu" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
            <div class="contact--image"><img src="/profile.png"></div>

        </div>

    </div>

    <script>
        var buttons = document.querySelectorAll('.nav--small');
        buttons[0].addEventListener('click', () => {
            document.querySelector('.contact').scrollIntoView({ behavior: 'smooth', inline: 'center', block: 'center' });
        });

        buttons[1].addEventListener('click', () => {
            document.querySelector('.about').scrollIntoView({ behavior: 'smooth', inline: 'center', block: 'center' });
        });
    </script>
</body>

</html>