/* Color palette:
	light pink: #FFE2FF
	light blue: #7F78D2
	blue: #481380
*/

body {
    margin: 0;
    overflow: auto;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
}

.navbar ul li {
    display: inline-block;
    list-style-type: none;
}

.nav--title {
    color: #ffe2ff;
    float: left;
    font-size: 40px;
    margin-left: -20px;
    margin-top: -10px;
}

.nav--small,
.nav--login {
    color: #ffe2ff;
    float: right;
    font-size: 24px;
    padding: 15px;
    margin-top: -10px;
    cursor: pointer;
}

.nav--login button {
    margin-top: -5px;
    color: white;
    outline: none;
    box-shadow: none;
    font-size: 24px;
    border: 0;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #f74676;
    cursor: pointer;
}

.nav--login button:hover {
    background-color: #ff1a57;
}

.banner {
    position: relative;
    margin-top: -80px;
    height: auto;
    width: 100%;
    background: linear-gradient(
        60deg,
        rgba(72, 19, 128, 1),
        rgba(127, 120, 210, 1)
    );
}

.banner--content {
    white-space: normal;
    overflow: hidden;
    width: 80%;
    height: auto;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 150px;
    padding-top: 120px;
}

.banner--content ul li {
    list-style-type: none;
}

.text--content {
    width: auto;
    max-width: 50%;
    float: left;
}

.big--text {
    font-size: 70px;
    font-weight: bold;
    color: #ffe2ff;
    line-height: 45pt;
}

.small--text {
    margin-top: 20px;
    font-size: 20px;
    color: #ffe2ff;
}

.text--content button {
    color: white;
    outline: none;
    box-shadow: none;
    font-size: 24px;
    border: 0;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background-color: #f74676;
    margin-top: 20px;
    cursor: pointer;
}

.text--content button:hover {
    background-color: #ff1a57;
}

.banner--content img {
    display: block;
    margin-top: 110px;
    width: 30%;
    float: right;
    margin-right: 20px;
}

.about {
    width: 75%;
    margin: 0 auto;
    height: auto;
}

.about--title {
    font-size: 40px;
    font-weight: bold;
    color: #481380;
    margin-top: 50px;
}

.component {
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    border: 1px solid black;
    border-top: 0;
    margin-top: 30px;
}

.component--color {
    height: 40px;
    width: 300px;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(60deg, #efb1ff, #7f78d2);
}

.about--content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.component--title {
    font-weight: bold;
    font-size: 25px;
    padding: 8px;
    color: #481380;
    padding-bottom: 20px;
}

.component--text {
    font-size: 20px;
    padding: 8px;
    color: #481380;
    padding-bottom: 15px;
}

.contact {
    width: 75%;
    margin: 0 auto;
    height: auto;
}

.contact--title {
    font-size: 40px;
    font-weight: bold;
    color: #481380;
    margin-top: 50px;
}

.contact--clip {
    position: absolute;
    z-index: -1;
    width: 75%;
    height: 200px;
    clip-path: polygon(0 72%, 100% 0, 100% 100%, 0% 100%);
    background-color: rgb(243, 243, 243);
}

.contact--flex {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;
}

.contact img {
    width: 150px;
    float: right;
    margin-top: -30px;
    margin-right: 30%;
}

.contact--text {
    font-size: 30px;
    margin-left: 5%;
}

.contact a {
    color: black;
}

.footer {
    width: 100%;
    height: auto;
    background: linear-gradient(
        60deg,
        rgba(72, 19, 128, 1),
        rgba(127, 120, 210, 1)
    );
    text-align: center;
    color: #ffe2ff;
    margin-top: 200px;
}

.footer--text {
    padding: 15px;
}

@media only screen and (max-width: 1000px) {
    .banner--content img {
        display: none;
    }

    .text--content {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .contact img {
        display: none;
    }

    .contact--text {
        font-size: 20px;
    }
    .nav--small {
        visibility: hidden;
    }

    .banner--content {
        width: 100%;
    }

    .text--content {
        max-width: 90%;
        margin-left: -20px;
    }

    .big--text {
        font-size: 60px;
    }

    .about {
        width: 90%;
    }

    .banner--content {
        padding-bottom: 100px;
    }
}
