<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css style -->
    <link rel="stylesheet" href="style/indexStyle.css">
    <title>Homepage</title>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar">
        <ul>
            <a href="#">
                <li class="nav--title">BOOKIFY</li>
            </a>
            <a href="#">
                <li class="nav--login"><button>Login</button></li>
            </a>
            <a href="#">
                <li class="nav--small">Contact</li>
            </a>
            <a href="#">
                <li class="nav--small">About</li>
            </a>
        </ul>
    </div>

    <div class="banner">
        <div class="banner--content">
            <div class="text--content">
                <ul>
                    <li class="big--text">KEEP TRACK OF YOUR READING PROGRESS</li>
                    <li class="small--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt
                        tortor tortor. Pellentesque ex augue, porta
                        eget imperdiet a, fringilla suscipit leo.</li>
                    <li><button>Create your free account</button></li></a>
                </ul>
            </div>
            <div class="illustration">
                <img src="style/banner.png">
            </div>
        </div>
    </div>

    <div class="about">
        <div class="about--title">Why is bookify useful?</div>
        <div class="about--content">
            <div class="component">
                <div class="component--color"></div>
            </div>

            <div class="component">
                <div class="component--color"></div>
            </div>
        </div>
    </div>

</body>

</html>