<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css style -->
    <link rel="stylesheet" href="style/indexStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar">
        <ul>
            <a href="#">
                <li class="nav--title">BOOKIFY</li>
            </a>
            <a href="#">
                <li class="nav--login"><button>Login</button></li>
            </a>
            <a href="#">
                <li class="nav--small">Contact</li>
            </a>
            <a href="#">
                <li class="nav--small">About</li>
            </a>
        </ul>
    </div>

    <div class="banner">
        <div class="banner--content">
            <div class="text--content">
                <ul>
                    <li class="big--text">KEEP TRACK OF YOUR READING PROGRESS</li>
                    <li class="small--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt
                        tortor tortor. Pellentesque ex augue, porta
                        eget imperdiet a, fringilla suscipit leo.</li>
                    <li><button>Create your free account</button></li></a>
                </ul>
            </div>
            <div class="illustration">
                <img src="style/banner.png">
            </div>
        </div>
    </div>

    <div class="about">
        <div class="about--title">Why is bookify useful?</div>
        <div class="about--content">
            <div class="component">
                <div class="component--color"></div>
                <div class="component--title">Store owned books</div>
                <div class="component--text">Put your owned book titles all in one place and keep track of your reading.
                </div>
            </div>

            <div class="component">
                <div class="component--color"></div>
                <div class="component--title">Take notes</div>
                <div class="component--text">In order to gain better knowledge from your lecture, you can also store
                    notes.
                </div>
            </div>

            <div class="component">
                <div class="component--color"></div>
                <div class="component--title">Store owned books</div>
                <div class="component--text">Put your owned book titles all in one place and keep track of your reading.
                </div>
            </div>
        </div>
    </div>

    <div class="contact">
        <div class="contact--title">Contact</div>
        <div class="contact--clip"></div>
        <div class="contact--flex">
            <div class="contact--text">Dancau Sebastian<br>
                sebidancau@yahoo.com <br>
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-github" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i></div>
            <div class="contact--image"><img src="style/profile.png"></div>

        </div>

    </div>

    <div class="footer">
        <div class="footer--text">Designed and developed <br>
            by Dancau Sebastian <br>
            Copyright 2020</div>
    </div>

</body>

</html>