body {
	margin: 0;
	font-family: 'Segoe UI', sans-serif;
}

.login--container {
	width: 100%;
	max-width: 600px;
	height: auto;
	margin: 0 auto;
	margin-top: 100px;
	background-color: white;
	border-radius: 10px;
	text-align: center;
	box-shadow: 8px 5px 36px -5px rgba(0, 0, 0, 0.55);
	font-size: 20px;
}
.login--form {
	padding-top: 30px;
	padding-bottom: 30px;
}
.login--container input {
	width: 80%;
	height: 35px;
	border: none;
	outline: none;
	background-color: #efefef;
	border-radius: 6px;
	margin-bottom: 20px;
}

.login--container input:focus {
	background-color: #d1d1d1;
}

.login--container label {
	float: left;
	margin-left: 10%;
}

input[type='text'] {
	font-size: 14px;
}

.login--container .alert {
	position: relative;
	display: block;
	width: 80%;
	height: auto;
	padding: 5px;
	text-align: center;
	background-color: #f74676;
	border-radius: 8px;
	margin: 0 auto;
	color: white;
	font-size: 20px;
}

.login--container button {
	width: 80%;
	height: 40px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 22px;
	transition: 0.3s ease;
}

.login--container button:hover {
	background-color: #c9c9c9;
}
